<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>post-future sounds by mrmrs</title>
  <meta name="description" content="Create your own custom SoundCloud player with just HTML and CSS. Built with AngularJS">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="docs/favicon.png" />
  <link rel="docs/apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="docs/autobass.css"/>
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
  <script src="v-plangular.min.js"></script>
  <style>
  </style>

  <!--
  <script src="docs/app.js"></script>
  -->

</head>
<body style="height:100%;background:black url(img/bg2-small.jpg) no-repeat; background-size:cover;padding:1rem;box-sizing:border-box;">
  <div style="max-width:42em;margin-right:auto;margin-left:auto;height:100%;">
    <div style="display:table;table-layout:fixed;width:100%;height:100%;">
  <main id="vm" class="theme-dark-red" style="display:table-cell;vertical-align:middle;">
    <h1 class="h2" style="text-align:center;margin-top:1rem!important;margin-bottom:1rem!important;">MRMRS
    <span style="text-transform:lowercase;font-family: baskerville; font-style: italic;font-weight:100!important;">
      00000
    </span>
    </h1>
    <div class="rounded" style="border:1px solid rgba(255,255,255,.3);" v-component="plangular" v-src="'http://soundcloud.com/mr_mrs/sets/originals'">
      <div class="px2 py1" style="border-bottom:1px solid rgba(255,255,255,.2);">
        <div class="table">
          <!--<small class="monospace h6 table-cell nowrap">{{ currentTime | prettyTime }} - {{ duration | prettyTime }}</small>-->
        </div>
        <div class="table">
          <div class="table-cell">
            <button class="button-icon" v-on="click: previous()">
              <svg v-plangular-icon="'previous'"></svg>
            </button>
          </div>
          <div class="table-cell">
            <button class="h2 button-icon" v-on="click: playPause(player.playlistIndex)">
              <svg v-if="player.tracks[player.i] != track || !player.playing" v-plangular-icon="'play'"></svg>
              <svg v-if="player.tracks[player.i] == track && player.playing" v-plangular-icon="'pause'"></svg>
            </button>
          </div>
          <div class="table-cell">
            <button class="button-icon" v-on="click: next()">
              <svg v-plangular-icon="'next'"></svg>
            </button>
          </div>
          <div class="table-cell full-width">
            <div class="px1">
              <progress class="" v-on="click: seek($event)" value="{{ currentTime / duration || 0 }}">{{ currentTime / duration }}</progress>
            </div>
          </div>
        </div>
      </div>
      <div class="py2">
      <div v-repeat="t : tracks" class="px2">
        <a href="#{{ t.title }}" class="block px2 py1 nav-item"
          v-on="click: playPause($index)"
          v-class="player.currentTrack == t ? 'bg-darken-3' : ''">
          {{ t.title }}
        </a>
      </div>
    </div>
    </div>
  </main>
</div>
</div>

<script> var vm = new Vue({ el: '#vm' }); </script>

</body>
</html>
