<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plangular</title>
  <meta name="description" content="Create your own custom SoundCloud player with just HTML and CSS. Built with AngularJS">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="site/style.css">
  <link rel="stylesheet" href="css/beats.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  <script src="plangular.js"></script>

</head>
<body ng-app="plangular">
  <header class="bb btn bln brn b-silver bg-cv bp-bottom" style="background-image:url(img/header-bg.jpg);">
    <div class="measure-wide wrap py2 tc">
      <img src="svg/skullcat-skull.svg">
    </div>
  </header>
<main>

<div class="py bb btn bln brn b-silver">
  <section plangular data-src="http://soundcloud.com/mr_mrs/freak" class="measure-wide wrap py2">
      <h1 class="f3 f2-m f1-l ml1 caps caps-tracked regular dk-gray">{{ track.title }}</h1>
      <div class="clearfix mr1">
        <div class="left">
          <a href ng-click="player.play(track)" ng-hide="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-dark-gray"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-dark-gray"></div>
          </a>
        </div><!--left-->
        <div class="oh relative" style="height:3rem;">
          <div class="absolute t0 r0 b0 l0" style="height:.5rem;margin:1.25rem 0;">
            <div class="absolute t0 r0 b0 l0 bg-black"></div>
            <div class="absolute t0 b0 l0 bg-teal" style="width: {{ (currentTime / duration) * 100 }}%"></div>
            <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
          </div><!-- absolute-->
        </div><!-- oh relative -->
      </div><!--clearfix -->
      <div class="wrap measure-wide py"><a ng-href="{{ track.permalink_url }}" target="_blank" class="ml1 small mid-gray">Download on SoundCloud</a></div>
  </section>
</div>
<div class="py bb btn bln brn b-silver">
  <section plangular data-src="http://soundcloud.com/mr_mrs/do-it-like" class="measure-wide wrap py2">
      <h1 class="f3 f2-m f1-l ml1 caps caps-tracked regular dk-gray">{{ track.title }}</h1>
      <div class="clearfix mr1">
        <div class="left">
          <a href ng-click="player.play(track)" ng-hide="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-dark-gray"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-dark-gray"></div>
          </a>
        </div><!--left-->
        <div class="oh relative" style="height:3rem;">
          <div class="absolute t0 r0 b0 l0" style="height:.5rem;margin:1.25rem 0;">
            <div class="absolute t0 r0 b0 l0 bg-black"></div>
            <div class="absolute t0 b0 l0 bg-teal" style="width: {{ (currentTime / duration) * 100 }}%"></div>
            <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
          </div><!-- absolute-->
        </div><!-- oh relative -->
      </div><!--clearfix -->
      <div class="wrap measure-wide py"><a ng-href="{{ track.permalink_url }}" target="_blank" class="ml1 small mid-gray">Download on SoundCloud</a></div>
  </section>
</div>
<div class="py bb btn bln brn b-silver">
  <section plangular data-src="http://soundcloud.com/mr_mrs/you-i-go-back" class="measure-wide wrap py2">
      <h1 class="f3 f2-m f1-l ml1 caps caps-tracked regular dk-gray">{{ track.title }}</h1>
      <div class="clearfix mr1">
        <div class="left">
          <a href ng-click="player.play(track)" ng-hide="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-dark-gray"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-dark-gray"></div>
          </a>
        </div><!--left-->
        <div class="oh relative" style="height:3rem;">
          <div class="absolute t0 r0 b0 l0" style="height:.5rem;margin:1.25rem 0;">
            <div class="absolute t0 r0 b0 l0 bg-black"></div>
            <div class="absolute t0 b0 l0 bg-teal" style="width: {{ (currentTime / duration) * 100 }}%"></div>
            <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
          </div><!-- absolute-->
        </div><!-- oh relative -->
      </div><!--clearfix -->
      <div class="wrap measure-wide py"><a ng-href="{{ track.permalink_url }}" target="_blank" class="ml1 small mid-gray">Download on SoundCloud</a></div>
  </section>
</div>
<div class="py bb btn bln brn b-silver">
  <section plangular data-src="http://soundcloud.com/mr_mrs/drops-hips-pop" class="measure-wide wrap py2">
      <h1 class="f3 f2-m f1-l ml1 caps caps-tracked regular dk-gray">{{ track.title }}</h1>
      <div class="clearfix mr1">
        <div class="left">
          <a href ng-click="player.play(track)" ng-hide="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-dark-gray"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-dark-gray"></div>
          </a>
        </div><!--left-->
        <div class="oh relative" style="height:3rem;">
          <div class="absolute t0 r0 b0 l0" style="height:.5rem;margin:1.25rem 0;">
            <div class="absolute t0 r0 b0 l0 bg-black"></div>
            <div class="absolute t0 b0 l0 bg-teal" style="width: {{ (currentTime / duration) * 100 }}%"></div>
            <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
          </div><!-- absolute-->
        </div><!-- oh relative -->
      </div><!--clearfix -->
      <div class="wrap measure-wide py"><a ng-href="{{ track.permalink_url }}" target="_blank" class="ml1 small mid-gray">Download on SoundCloud</a></div>
  </section>
</div>
<div class="py bb btn bln brn b-silver">
  <section plangular data-src="http://soundcloud.com/mr_mrs/the-sunshine-hits" class="measure-wide wrap py2">
      <h1 class="f3 f2-m f1-l ml1 caps caps-tracked regular dk-gray">{{ track.title }}</h1>
      <div class="clearfix mr1">
        <div class="left">
          <a href ng-click="player.play(track)" ng-hide="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-dark-gray"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-dark-gray"></div>
          </a>
        </div><!--left-->
        <div class="oh relative" style="height:3rem;">
          <div class="absolute t0 r0 b0 l0" style="height:.5rem;margin:1.25rem 0;">
            <div class="absolute t0 r0 b0 l0 bg-black"></div>
            <div class="absolute t0 b0 l0 bg-teal" style="width: {{ (currentTime / duration) * 100 }}%"></div>
            <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
          </div><!-- absolute-->
        </div><!-- oh relative -->
      </div><!--clearfix -->
      <div class="wrap measure-wide py"><a ng-href="{{ track.permalink_url }}" target="_blank" class="ml1 small mid-gray">Download on SoundCloud</a></div>
  </section>
</div>
<div class="py bb btn bln brn b-silver">
  <section plangular data-src="http://soundcloud.com/mr_mrs/impress-me" class="measure-wide wrap py2">
      <h1 class="f3 f2-m f1-l ml1 caps caps-tracked regular dk-gray">{{ track.title }}</h1>
      <div class="clearfix mr1">
        <div class="left">
          <a href ng-click="player.play(track)" ng-hide="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-dark-gray"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
             class="button button-geo anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-dark-gray"></div>
          </a>
        </div><!--left-->
        <div class="oh relative" style="height:3rem;">
          <div class="absolute t0 r0 b0 l0" style="height:.5rem;margin:1.25rem 0;">
            <div class="absolute t0 r0 b0 l0 bg-black"></div>
            <div class="absolute t0 b0 l0 bg-teal" style="width: {{ (currentTime / duration) * 100 }}%"></div>
            <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
          </div><!-- absolute-->
        </div><!-- oh relative -->
      </div><!--clearfix -->
      <div class="wrap measure-wide py"><a ng-href="{{ track.permalink_url }}" target="_blank" class="ml1 small mid-gray">Download on SoundCloud</a></div>
  </section>
</div>

</body>
</html>
